body {
    background: var(--tg-theme-secondary-bg-color, white);
    padding: var(--tg-viewport-safe-area-inset-top, 0)
        var(--tg-viewport-safe-area-inset-right, 0)
        var(--tg-viewport-safe-area-inset-bottom, 0)
        var(--tg-viewport-safe-area-inset-left, 0);
    margin: 0;
    height: 100vh;
}
#root {
    height: 100vh;
}

#root > div {
    height: 100%;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scroll-container {
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
